* {
        box-sizing: border-box;
}

/* PAGINA MAIN */
.logo-img {
        width: 5.5rem;
        height: 4rem;
        margin: .5rem;
}

body {
        position: relative;
        min-height: 100vh;
        padding-bottom: 4rem;
        background-color: #f2fffc;
        background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

footer {
        position: absolute;
        background-color: #fdfefe;
        height: 4rem;
        width: 99%;
        bottom: 0;
        padding-top: 1rem;
}

.link-group {
        text-decoration: none;
        color: #000;
}

.footer {
        text-align: center;
}

.col {
        padding: .5rem;
}

.main-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.main-content > p {
        padding: 1rem;
        font-family: sans-serif;
        text-align: justify;
}

.p-title {
        font-size: 30px;
        padding: .5rem;
        margin: .2rem;
}

.right-border {
        border-right: 1px solid #efefef;
}

.left-border {
        border-left: 1px solid #efefef;
}

.main-img {
        width: 32rem;
        height: 18rem;
        margin: .5rem;
}

/* PAGINA 1 */


/* PAGINA 2 */


/* PAGINA 3 */

@media (max-width: 1050px)
{
        .main-img {
                width: 26rem;
                height: 14rem;
                margin: .5rem;
        }

        footer {
                width: 98%;
        }
}

@media (max-width: 440px)
{
        .main-img {
                width: 110%;
        }

        footer {
                width: 96%;
        }
}