* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: sans-serif;
  background-color: #ededed;
  /* position: relative;
  padding-bottom: 4rem; */
  display: flex;
  flex-direction: column;
}

ul { list-style: none; }
a {text-decoration: none;}

/* PREDEFINIDO */
.current-page { border-bottom: 2px solid black; }
.current-page:hover { border-color: white; }

header {
  background: rgb(109, 202, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 6rem;
}

.header__separador {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.logo {
  height: 5rem;
  width: 4.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.menu a {
  padding: .5rem;
  transition: all .1s ease-in-out;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

.menu li:hover > a {
  color: #ededed;
  transform: scale(1.1);
}

.section__album {
  text-align: center;
  padding: 1rem;
}

/* CARRUSEL */
.carousel {
  width: 100%;
  overflow: auto;
  margin: 2rem auto;
  display: flex;
  gap: 1rem;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: spin 30s infinite linear;
  color: #ededed;
  padding-right: .2rem;
}

.carousel::-webkit-scrollbar { display: none; }

.card {
  flex: 0 0 44rem;
  height: 26rem;
  border-radius: .5rem;
  text-align: center;
  align-content: center;
}

.carousel__img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(109, 202, 239);
  height: 4rem;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  margin-top: auto;
}

/* ANIMATIONS */
@keyframes spin {
  from { translate: 0; }
  to { translate: -100%; }
}

/* ADDING PAGE */
.add-page {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2rem;
}

#add-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #000;
  padding: 1.3rem;
  border-radius: 12px;
  background: #fff;
}

.form__buttons {
  padding: .5rem;
  text-align: center;

}

.form__buttons button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 .5rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.button1 { background-color: blue; color: #fff; }
.button2 { background-color: rgb(32, 190, 32); color: #fff; }
.button3 { background-color: rgb(0, 152, 223); color: #fff; }
.eliminar {
  border: none;
  padding: .5rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  color: #fff;
  background-color: red;
}

.editar {
  border: none;
  padding: .5rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  color: #fff;
  background-color: skyblue;
}

.eliminar:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(1.01);
}

button:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(1.01);
}

.form__inputs { padding: 0.2rem; }

.input__radio {
  margin-top: 1rem;
}

.input__text {
  height: 2rem;
  width: 100%;
}

select {
  width: 100%;
  height: 2rem;
  border-radius: 12px;
}

.form__inputs input {
  border: 1px solid #000;
  font-size: 1.2rem;
  border-radius: 12px;
  padding-left: 1rem;
  margin-top: .5rem;
}

 /* TABLE */
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

/* HELP PAGE */
.title {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

.help__article {
  width: 90%;
  margin: auto;
}

.help__article h3 { font-size: 1.4rem; padding-left: 1rem; }
.help__article p { font-size: 1.2rem; }

.help__img {
  margin-left: 42%;
  margin-top: 1rem;
}