* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        min-height: 100vh;
        font-family: sans-serif;
        position: relative;
}

.container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
}

.container > button {
        height: 3em;
        color: #fff;
        background-color: blue;
        border-radius: 12px;
        font-size: 1rem;
        font-weight: 900;
        border: none;
        cursor: pointer;
        transition: all .5s ease-in-out;
}

button:hover {
        transform: scale(1.1);
}

nav {
        display: flex;
        float: right;
        width: 200px;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
        border-bottom: 2px solid black;
        background-color: tomato;
        min-height: 100vh;
        opacity: 1;
        pointer-events: all;
}

nav.hide {
        opacity: 0;
        pointer-events: none;
}
