* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        background: #dedede;
        min-height: 100dvh;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
}

form {
        padding: 1rem;
}
