* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100dvh;
  background: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6fbdb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.2'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1, h2 {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #000;
  border-radius: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #000;
  padding: 1.3rem;
  border-radius: 12px;
  background: #fff;
}

label,
span {
  font-size: 1.3rem;
}

/* BARRA DE BUSQUEDA */
.form__search {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.form__search input {
  height: 2rem;
  border-radius: 12px;
  padding-left: 1rem;
  font-size: 1rem;
  width: 100%;
}

.searchBtn {
  border: 1px solid black;
  border-radius: 100%;
  padding: 0.5rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
}

.searchBtn:hover {
  color: white;
  background: blue;
}

.form__filter {
  font-size: 1rem;
  border-radius: 12px;
  padding: 0.5rem;
}

/* BOTONES SUPERIORES */
.button__up {
  font-size: 1rem;
  background: none;
  border: none;
  border-radius: 12px;
  padding: 0.7rem 0.9rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button__up:hover {
  filter: brightness(0.9);
}

.button-up1 {
  background: blue;
}

.button-up2 {
  background: green;
}

.button-up3 {
  background: skyblue;
}

.button-up4 {
  background: red;
}

/* INPUTS */
.form__inputs {
  padding: 0.2rem;
}

.input__radio {
  margin-top: 1rem;
}

.input__bar {
  height: 2.5rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 12px;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
}

/* BOTONES INFERIORES */
.form__navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #000;
  padding-top: 1rem;
}

.button__navigation {
  /* border: none; */
  background: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 0.9rem;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.button__navigation:hover {
  filter: brightness(0.9);
}

.navigation1 {
  background: #333;
}

.navigation2 {
  background: #999;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 600px;
}

.search-box {
  height: 500px;
  width: 500px;
  background: white;
  border: 2px solid black;
  border-radius: 30px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2rem;
}


