* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        min-height: 100dvh;
        font-family: sans-serif;
        max-width: 100dvw;
}

.container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;
}

.container img {
        position: absolute;
        z-index: 0;
        right: 0;
        height: 100vh;
}

h1 {
        margin: 0 0 1rem 0;
        border: 2px solid blue;
        padding: 1rem 3rem;
        border-radius: 30px;
        text-align: center;
        z-index: 1;
}

button {
        border: none;
        padding: 1rem;
        border-radius: 12px;
        color: #fff;
        background: #00f;
        transition: all .2s ease-in-out;
        z-index: 0;
}

button:hover {
        transform: scale(1.1);
        color: aquamarine;
}

.layout {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
}